
/* Styling for HTML elements */
body {
    padding: 0;
    margin: 0;
    font-family: Tahoma, "Times New Roman", Times, sans-serif;
    font-size: 18px;
    line-height: 150%;
    color: #333;
    background: #efeee7;
  }
  
  header {
    background: #333;
  }
  
  h1 {
    padding: 20px 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 28px;
    color: rgb(22, 14, 14);
    text-align: center;
  }
  
  h2 {
    font-size: 24px;
  }
  
  a {
    color: #103ed7;
  }
  
  /* Selecting elements by class */
  .container {
    width: 1024px;
    margin: 0 auto;
  }
  
  /* Selecting elements by ID */
  #visualization,
  #project_sum,
  #visualization_links {
    float: left;
  }
  
  #visualization {
    position: relative;
  }
  
  #project_name {
    position: absolute;
    top: 150px;
    left: 30px;
  }
  
  #project_sum {
    width: 70%;
  }
  
  #visualization_links {
    width: 30%;
  }
  
  #visualization {
    width: 200px;
    height: 200px;
    margin-right: 20px;
  }
  